body.sacred {
    background-color: var(--sacred-background-color);
}

.mainNav.sacred, footer.sacred {
    background-color: var(--sacred-secondary-color);
}

.characterContainer.sacred {
    background-image: url(../../images/misc/fe8-display-background.png);
    border: 5px solid var(--sacred-secondary-color);
}

.charDisplay.sacred {
    border: 4px solid var(--sacred-secondary-color);
}

/*COME BACK AND MAKE THIS LOOK BETTER*/

.routeButtonsContainer {
    display: flex;
    gap: 5px;
}

.ephraimRoute, .eirikaRoute {
    width: 100px;
    height: 150px;
}

.ephraimRoute img {
    width: 60px;
}

.eirikaRoute img {
    width: 40px;
}