@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #;
    --secondary-color: #;
    --accent1-color: #;
    --accent2-color: #;
    --accent3-color: #;
    --accent4-color: #;
    --accent5-color: #;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Passion One", sans-serif;
    --paragraph-font: ;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: var(
      --primary-color
    ); /* headlines on a white background */
    --headline-color-on-color: white; /* headlines on a colored background */
    --paragraph-color-on-white: var(
      --primary-color
    ); /* paragraph text on a white background */
    --paragraph-color-on-color: white; /* paragraph text on a colored background */
    --paragraph-background-color: var(--primary-color);
    --nav-link-color: white;
    --nav-background-color: var(--secondary-color);
    --nav-hover-link-color: white;
    --nav-hover-background-color: var(--primary-color);
  }

.characterContainer {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    margin: 0 auto;
}

.charDisplay {
    padding: 5px;
    text-align: center;
    position: relative;
}

.charDisplay p {
    margin-top: -1px;
}

.chapterNavButtons {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
}

.chapterNavButtons button {
    width: 50px;
    font-size: 15px;
}

h1 {
    text-align: center;
    font-family: var(--heading-font);
    color: #f7b955;
    text-shadow:
    2px 2px 0 #771012,
    -2px -2px 0 #771012,
    2px -2px 0 #771012,
    -2px 2px 0 #771012;
}

.chapterDropdown {
    text-align: center;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

#chapSelect {
    width: 115px;
    text-align: center;
    margin: 0 auto;
}

.redXIcon {
    display: none;
}

.charDisplay.dead .redXIcon{
    display: block;
    width: 96px;
    position: absolute;
    bottom: 30px;
}