@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Press+Start+2P&display=swap');
@import "games/blazing.css";
@import "games/binding.css";
@import "games/sacred.css";

:root {
    /* change the values below to your colors from your palette */
    --blazing-background-color: #f9efbd;
    --blazing-secondary-color: #6a6350;
    --binding-background-color: #e77056;
    --binding-secondary-color: darkslateblue;
    --sacred-background-color: #ebe8d5;
    --sacred-secondary-color: #627597;
    --accent3-color: #;
    --accent4-color: #;
    --accent5-color: #;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Passion One", sans-serif;
    --gba-font: "Press Start 2P", sans-serif;
    --paragraph-font: ;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: var(
      --primary-color
    ); /* headlines on a white background */
    --headline-color-on-color: white; /* headlines on a colored background */
    --paragraph-color-on-white: var(
      --primary-color
    ); /* paragraph text on a white background */
    --paragraph-color-on-color: white; /* paragraph text on a colored background */
    --paragraph-background-color: var(--primary-color);
    --nav-link-color: white;
    --nav-background-color: var(--secondary-color);
    --nav-hover-link-color: white;
    --nav-hover-background-color: var(--primary-color);
  }

body {
    min-height: 729px;
}

.mainNav {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: end;
    list-style: none;
    padding: 5px;
}

.mainNav li {
    margin: 8px;
    font-size: 1.2em;
}

.mainNav a {
    color: whitesmoke; 
    text-decoration: none;
    padding: 17px 5px 17px 5px;
    font-size: 0.6em;
    font-family: var(--gba-font);
}

.mainNav a:hover {
    background-color: #3a3522;
    color: #f7eea3;
}

.characterContainer {
    display: flex;
    flex-wrap: wrap;
    width: 720px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.graveyardContainer {
    display: flex;
    flex-wrap: wrap;
    width: 720px;
    margin: 0 auto;
    margin-bottom: 60px;
    background-image: url(../images/misc/fe7-blue-menu-saves.png);
    border: 5px solid darkblue;
}

.charDisplay, .graveDisplay {
    height: 105px;
    padding: 3px;
    text-align: center;
    position: relative;
    background-image: url(../images/misc/char-display-background.jpeg);
    background-size: contain;
    border: 4px solid #635939;
}

.charDisplay p, .graveDisplay p {
    margin-top: 5px;
    font-size: 8px;
    font-family: var(--gba-font);
}

.displayContainer {
    margin: 5px;
}

.optionsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 480px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.optionsContainer button {
    width: 100px;
    height: 30px;
    border-radius: 9px;
    font-family: var(--gba-font);
    font-size: 10px;
}

.optionsContainer button:hover {
    background-color: #8c6931;
    color: white;
}

.logoContainer {
    display: flex;
}

.gameLogo {
    margin: 0 auto;
    margin-top: 20px;
    width: 300px;
}

h1 {
    text-align: center;
    font-family: var(--heading-font);
    color: #f7b955;
    text-shadow:
    2px 2px 0 #771012,
    -2px -2px 0 #771012,
    2px -2px 0 #771012,
    -2px 2px 0 #771012;
    font-size: 40px;
    
}

.sectionSpacingDiv {
    width: 200px;
}

.trackerSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -15px;
}

.lordLiveReactionContainer {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    border: 1px solid black;
    background-color: whitesmoke;
}

.lordLiveReactionContainer img {
    width: 125px;
}

.lordReactionImg {
    width: 200px;
    height: 30px;
}

.mainContentContainer {
    padding: 5px;
}

.chapterDropdown {
    text-align: center;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.chapterDropdown label {
    font-family: var(--gba-font);
    font-size: 11px;
    margin-bottom: 5px;
    width: 210px;
}

#chapSelect {
    width: 200px;
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
}

.redXIcon {
    display: none;
}

.charDisplay.dead, .graveDisplay {
    filter: grayscale(100%);
}

.charDisplay.dead .redXIcon{
    display: block;
    width: 130px;
    position: absolute;
    bottom: -8px;
    right: -12px;
    opacity: 0.8;
}

.deathModal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 20px;
}

.modalContent {
    width: 380px;
    min-height: 210px;
    background-color: #042e8f;
    color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: inset 0px 0px 12px 7px rgba(0, 0, 0, 0.9);
}

.modalDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
}

.characterModalInfo {
    display: flex;
    align-items: center;
}

.portraitContainer {
    display: flex;
    background-color: whitesmoke;
    height: 90px;
    border: 3px solid black;
    margin: 10px 30px 10px 10px;
}

.deathModalSpecialText {
    color: #fee073;
}

.deathModalSpecialText.chapterText {
    font-size: 20px;
}

.modalDetails {
    font-size: 17px;
}

.deathDetailsModal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 20px;
}

.modalDetailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deathDetailsModal .modalDetailsContainer img {
    width: 120px;
    background-color: whitesmoke;
    border: 2px solid gold;
}

.deathNote {
    margin-top: 5px;
}

.noDeathText {
    color: whitesmoke;
    font-size: 17px;
    text-align: center;
    margin-left: 30%;
}

.deathConfirmationContainer {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.deathConfirmationContainer button, .noteOptionsContainer button {
    width: 80px;
    margin: 15px 5px 5px 5px;
}

.deathNoteSection p {
    font-size: 17px;
}

.resetConfirmModal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 20px;
}

.resetConfirmModalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background-color: #042e8f;
    color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: inset 0px 0px 12px 7px rgba(0, 0, 0, 0.9);
    font-size: 17px;
}

.resetYesButton, .resetNoButton {
    width: 70px;
    border-radius: 15px;
    font-size: 15px;
}

textarea {
    font-size: 14px;
}

#yesButton, .resetYesButton {
    background-color: rgb(142, 17, 17);
    color: white;
}

#yesButton:hover, .resetYesButton:hover {
    background-color: rgb(208, 111, 111);
}

#noButton:hover, .resetNoButton:hover {
    background-color: lightgray;
}

#saveNoteButton {
    background-color: green;
    color: white;
}

#saveNoteButton:hover {
    background-color: rgb(104, 173, 104);
}

.closeButtonContainer {
    display: flex;
    justify-content: flex-end;
}

.deathNoteSection {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.shelfContainerContainer.hidden {
    display: none;
}

.noteOptionsContainer {
    display: flex;
    justify-content: center;
}

.imageHeader {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.imageHeader img {
    width: 200px;
}

/* Game Select page styling*/

.gameSelectButtonsContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.gameSelectButtonsContainer button {
    width: 200px;
    border-radius: 15px;
    font-size: 18px;
    padding: 5px;
    margin: 5px;
}

.shelfContainerContainer {
    display: flex;
    justify-content: center;
}

.gameSelectContainer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 70%;
    margin-top: 63px;
}

.shelfContainer {
    display: flex;
    justify-content: center;
    position: relative;
    width: 55%;
    height: 228px;
    overflow: hidden;
}

.shelfImg {
    width: 100%;
    object-position: top;
    object-fit: cover;
    position: absolute;
}

.gameCover {
    width: 150px;
    z-index: 10;
}

.gameCover:hover {
    width: 155px;
    border: 3px black solid;
}

.gameSelectTitle {
    padding: 25px;
}

.gameSelectFooter {
    margin-top: 50px;
}

/* class for when play button is selected */
.playButton.selected, .playButton:hover {
    background-color: green;
    color: white;
}

.loadButton:hover, .loadButton.selected {
    background-color: blue;
    color: white;
}

.deleteButton.selected, .deleteButton:hover {
    background-color: darkred;
    color: white;
}

.saveFilesSpacingContainer {
    display: flex;
    justify-content: center;
}

.allSaveFilesContainer {
    background-image: url(../images/misc/fe7-blue-menu-saves.png);
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
    border: 4px solid darkblue;
}

.saveFileContainer {
    background-image: url(../images/misc/bigger-display-background.png);
    width: 220px;
    height: 65px;
    border-radius: 10px;
    margin: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid darkblue;
    position: relative;
}

.saveFileContainer:hover {
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.9);
}

.saveHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: fit-content;
    margin-bottom: 4px;
    /* background-color: #faee85; */
    border-bottom: 2px solid gold;
}

.saveFileDeleteButton {
    width: 18px;
    background-color: white;
    border: 1px solid red;
    position: absolute;
    right: 5px;
    top: 4px;
    z-index: 5;
}

.saveFileDeleteButton:hover {
    width: 20px;
    background-color: lightpink;
}

.saveFileContainer h4 {
    text-align: center;
}

.fileContentContainer img {
    width: 38px;
    height: 38px;
    margin-top: 6px;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 36px;
    margin-right: 15px;
}

.fileContentContainer {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.fileDetailsContainer {
    display: flex;
    align-items: center;
    text-align: center;
}

.chapterSummaryContainerContainer {
    display: flex;
    justify-content: center;
}

.chapterSummaryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chapterSummary {
    margin: 10px;
    background: linear-gradient(to bottom, #4694e7, #103d6c);
    width: fit-content;
    width: 400px;
    height: 190px;
    border-radius: 25px;
}

.chapterSummary.noDeaths {
    height: 100px;
}

.resetButtonContainer {
    display: flex;
    justify-content: center;
}

.resetButtonContainer button {
    width: 120px;
    border-radius: 15px;
    font-size: 18px;
}

.resetButtonContainer button:hover {
    background-color: darkred;
    color: white;
}

.chapterDeathsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.chapterSummary hr {
    width: 280px;
    margin-top: -10px;
}

.chapterSummary h4, .chapterSummary p {
    text-align: center;
    color: white;
}

.chapterSummary img {
    width: 70px;
    margin: 5px 6px 0px 6px;
}

.blazingOptionsModal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 20px;
}

.blazingOptionsModalContent {
    display: flex;
    flex-direction: column;
    background-image: url(images/misc/fe7-blue-menu-saves.png);
    padding: 10px;
}

.blazingOptionsModalContent .optionsCover {
    width: 316px;
}

.blazingModesContainer {
    display: flex;
    justify-content: center;
}

.blazingModes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
}

.charModeOption {
    background-image: url(images/misc/bigger-display-background.png);
    margin: 5px;
    width: 120px;
    height: 87px;
    text-align: center;
    border-radius: 15px;
    padding-bottom: 5px;
}

.charModeTitle {
    width: 100px;
    margin-left: 9px;
    border-radius: 15px;
}

.charModeOption p {
    border-bottom: 1px solid black;
}

.charModeOption:hover {
    box-shadow: inset 0 0 15px rgba(75, 48, 20, 0.8);
}

.difficultyOptionsContainer {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.difficultyOption {
    background-color: whitesmoke;
    padding: 5px;
    margin: 12px 5px 5px 5px;
    border-radius: 5px;
    width: 70px;
    height: 20px;
    text-align: center;
}

.difficultyOption:hover {
    background-color: gray;
    border: 2px solid black;
}

.closeButton.blazing {
    margin-bottom: 10px;
}

.settingsConfirmationContent {
    text-align: center;
    width: 300px;
    color: white;
    font-size: 18px;
}

.settingsConfirmationContent h4 {
    color: whitesmoke;
    font-weight: lighter;
    font-size: 20px;
    border-bottom: 2px solid gold;
}

.settingConfirmationButtons button {
    width: 100px;
    border-radius: 5px;
}

#confirmSettingsButton:hover {
    background-color: green;
    color: white;
}

#rejectSettingsButton:hover {
    background-color: darkred;
    color: white;
}


.settingConfirmationButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

/* universal footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6a6350;
    height: 47px;
    color: whitesmoke;
    margin-top: 20px;
}

footer p {
    font-family: var(--gba-font);
    font-size: 0.6em;
}